@echo off
if EXIST %~dp0\crontask.lock (
    exit
)

copy /y NUL %~dp0\crontask.lock >NUL

php {{applicationPath}}\application.php rcon:check-is-running {{server}}

if %errorlevel%==1 (
    goto :startServer
)

php {{applicationPath}}\application.php rcon:check-update {{server}}

if %errorlevel%==1 (
    echo "Stopping Server"
    php {{applicationPath}}\application.php rcon:ark:stop-server {{server}}
    goto :startServer
) else (
    echo "OK"
)

goto :cleanup

:startServer
START "ARKSERVER" {{applicationPath}}\generated\{{server}}\startServer.bat

:cleanup
del %~dp0\crontask.lock