@echo off
:lockwait
if EXIST %~dp0\crontask.lock (
    echo "Another task is already running. Waiting.."
    timeout 5
    goto :lockwait
)

copy /y NUL %~dp0\crontask.lock >NUL

echo "Stopping Server"
php {{applicationPath}}\application.php rcon:ark:stop-server {{server}}
{{applicationPath}}\generated\{{server}}\startServer.bat

del %~dp0\crontask.lock