@echo off
if EXIST %~dp0\startServer.lock (
    exit
)

netstat -na | find ":{{serverPort}} "
if %errorlevel%==0 (
    exit
)

copy /y NUL %~dp0\startServer.lock >NUL

SET STEAMCMD={{{steamcmdPath}}}
SET APP_INSTALL_DIR={{{installDir}}}

echo Updating ARK: Survival Ascended
CALL %STEAMCMD% +force_install_dir %APP_INSTALL_DIR% +login anonymous +app_update 2430930 validate +quit

copy %~dp0\Game.ini %APP_INSTALL_DIR%\ShooterGame\Saved\Config\WindowsServer\Game.ini
copy %~dp0\GameUserSettings.ini %APP_INSTALL_DIR%\ShooterGame\Saved\Config\WindowsServer\GameUserSettings.ini

echo Starting ARK: Survival Ascended Server

cd /d %APP_INSTALL_DIR%
start ShooterGame\Binaries\Win64\ArkAscendedServer.exe ^
    {{serverMap}}?listen{{{questionmarkParameters}}} {{{serverStartParameters}}}

set /a counter=1

:startwait
if %counter% gtr {{maxStartCounter}} (
    goto :cleanup
)

netstat -na | find "{{serverPort}}"
if %errorlevel%==0 (
    goto :cleanup
) else (
    timeout 5
    set /a counter=%counter%+1
    goto :startwait
)

:cleanup
del %~dp0\startServer.lock
exit