@echo off
if EXIST %~dp0\crontask.lock (
    exit
)

copy /y NUL %~dp0\crontask.lock >NUL

php {{applicationPath}}\application.php rcon:check-is-running {{server}}

if %errorlevel%==1 (
    goto :startServer
)

php {{applicationPath}}\application.php rcon:check-update {{server}}

if %errorlevel%==1 (
    echo "Stopping Server"
    php {{applicationPath}}\application.php rcon:vrising:stop-server {{server}}
    goto :startServer
) else (
    echo "OK"
)

goto :cleanup

:startServer
START "VRISING" {{applicationPath}}\generated\{{server}}\startServer.bat

set /a counter=1

:startwait
if %counter% gtr {{maxStartCounter}} (
    goto :cleanup
)

netstat -na | find "{{serverPort}}"
if %errorlevel%==0 (
    goto :cleanup
) else (
    timeout 5
    set /a counter=%counter%+1
    goto :startwait
)


:cleanup
del %~dp0\crontask.lock