<?php
// Use this template to run and manage local vrising server

return [
    'rcon_servers' => [
        'awesomeSuckage' => [
            'type' => 'vrising',
            // RCON Host
            'host' => 'localhost',
            // RCON Port
            'port' => 27118,
            // Steam Query Port (Required for player listing)
            'steamQeryPort' => 27116,
            // RCON Password
            'password' => 'RCON_PASSWORD',
        ],
    ],
    'management' => [
        'vrising' => [
            // Mustache template for server install path
            'localInstallDirTemplate' => 'C:\Servers\VRising-{{server}}',
            // Mustache template for savegames
            'saveDataDirTemplate' => 'C:\Servers\SaveData\VRising-{{server}}',
        ],
    ],
];